{% extends "layouts/main.njk" %}

{% block head %}
<script src="/assets/scripts/createPolicy.js" defer></script>
{% endblock %}

{% block main %}
<h2>Create a policy</h2>
<a href="/index.html">Back to policies</a>
<div>
  <form id="policy-creator" class="policy-editor" name="policyCreator">
    <textarea rows="10" cols="80"></textarea>
    <button type="submit">Create Policy</button>
  </form>
</div>
{% endblock %}

