{% extends "layouts/base.njk" %}

{% block head %}
{{ super() }}
<title>Bouncer Debug</title>
<link rel="stylesheet" href="/assets/styles/debug.css">
<script src="/assets/scripts/debug.js" defer></script>
{% endblock %}

{% block body %}
<h2>Bouncer Debug</h2>
<form id="configuration">
  <div>
    <label for="max-logs">Max Logs:</label>
    <input id="max-logs" name="maxLogs" type="text">
  </div>
  <div>
    <button type="submit">Update</button>
  </div>
</form>
<hr>
<div>
  <button id="refresh-logs" disabled>Refresh Logs</button>
  <button id="clear-logs">Clear Logs</button>
  <span><em id="last-cleared"></em></span>
</div>
<div>
  <input type="checkbox" id="auto-reload" checked>
  <label for="auto-reload">Auto Reload</label>
</div>
<pre id="logs"></pre>
{% endblock %}
