{% extends "layouts/base.njk" %}

{% block head %}
{{ super() }}
<title>Bouncer - Popup</title>
{% endblock %}

{% block body %}
<p>
  <a href="/index.html" target="_blank">Settings</a>
</p>
<p>
  <a href="/blocked/index.html" target="_blank">Blocked Page</a>
</p>
{% endblock %}
